<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <title>SocialMediaListener</title>
        <script src="./Public/myScript.js"></script>
        <!-- <link rel="stylesheet" type="text/css" href="./Public/myStyle.css"> -->
    </head>

    <body>
        <h1>Welcome to the Facebook Storage page!</h1>
        <label>Enter keyword to help our search engine</label>
        <br>
        <input type="text" name="keyword" placeholder="eg footall" required>
        <br>
        <br>
        <button id="submitBtnT">Submit</button>
    </body>
</html>
